<!-- We don't need a full layout in this file because this page will be parsed with Ajax. -->

<!-- Top Navbar-->

<div class="pages">
    <div data-page="home" class="page">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="center sliding">Second View</div>
            </div>
        </div>

        <div class="page-content">
            <div class="content-block">
                <p>This is a second view. Lets, for example, have here some internal pages with navbar navigation</p>
            </div>
            <div class="list-block">
                <ul>
                    <li>
                        <a href="about.html" class="item-link">
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title">About Us</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="services.html" class="item-link">
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title">Services</div>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
